<!DOCTYPE html>
<html lang="ru">
<head>
	<title>BestTuneStore : Главная</title>
	<meta charset="utf8"/>
	<link href="style.css" rel="stylesheet"/>
</head>
<style>

</style>
<body>
	<header>
		<h1>BestTuneStore</h1>
		<a href="/auth.html">Войти</a>
	</header>
	<div id="wrapper">
		<div class="slider">
			<div class="slide">
				<a>
					<h1>Впусные коллектора</h1>
					<img src="Media/1.jpg"/>
				</a>
			</div>
		
			<div class="slide">
				<a>
					<h1>Прямоточные банки HKS</h1>
					<img src="Media/2.webp"/>
				</a>
			</div>
		</div>
		<div id="catalog">
			<a id="cat_item" href="#">
				<img src="Media/ecu.jpg"/>
				<p>Электроника</p>
			</a>
			<a id="cat_item" href="#"><img src="Media/exhaust.jpg">
			<p>Выхлопная система</p></a>
			<a id="cat_item" href="#"><img src="Media/intake.jpg"><p>Впусная система</p></a>
			<a id="cat_item" href="#"><img src="Media/engine.jpg"><p>Двигатель</p></a>
			<a id="cat_item" href="#"><img src="Media/wheels.jpg"><p>Колесные диски</p></a>
			<a id="cat_item" href="#"><img src="Media/suspen.jpg"><p>Подвеска</p></a>
			<a id="cat_item" href="#"><img src="Media/interer.webp"><p>Интерьер</p></a>
			<a id="cat_item" href="#"><img src="Media/sticker.JPG"><p>Стикеры</p></a>
		</div>
		<div class="main_info" id="sl1">		
			<div id="item"><img src="Media/cashback.png"><p>Оформляйте заказы и получайте кешбек</p></div>
			<div id="item"><img src="Media/delivery.png"><p>Бесплатная доставка по России и СНГ</p></div>
			<div id="item"><img src="Media/shield.png"><p>Бесплатная упаковка и защита вашего заказа</p></div>
			<div id="item"><img src="Media/catalog.webp"><p>Широкий ассортимент</p></div>			
		<div>
		
	</div>
		
	
</body>
<script>

const imgs = document.querySelectorAll('.slide');
let curr = 0;

showImg(0);

function showImg(index){
imgs[curr].classList.remove('active');
imgs[index].classList.add('active');
curr = index;
}

setInterval(()=>{

let index = curr + 1;
if(index >= imgs.length){
index=0;
}
showImg(index);

console.log("tick");
}, 4000);
</script>

</html>
