<html>
<head>
    <title>Продукты</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
</style>
<body>
    <header>
		<h1>BestTuneStore</h1>
	</header>
    <div id="wrapper">
        <div id="head">
        <div id="prod_img_view"><img src="Media/item1.jpg" alt=""></div>
        <div id="prod_info">
            <div id="title">Жопная затычка</div>
            <hr>
           <div style="margin: 10px;"><div id="cost_block"><div id="cost">Стоимость руб.</div><input type="button" id="to_cart" value="Добавить в Корзину"></div></div>
           <div id="amount">Наличность: n шт.</div>
        </div>
        </div>
        <hr>
        <div id="desc">
            Описание:
            <div id="desc_cap">
                В любой дырке затычка
            </div>
        </div>
    </div>
</body>
</html>